body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:rgba(0, 0, 0, 0.868);
}

.stopwatch {
    background:rgba(0, 0, 0, 0.489);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.display {
    color: white;
    font-size: 5em;
    margin-bottom: 20px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #b61b13;
    color: white;
    transition: background-color 0.3s;
}


.laps {
    margin-top: 20px;
    text-align: left;
}

.lap-time {
    text-align: center;
    color: white;
    font-size: 1em;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
